.form {
  margin-bottom: 2rem;
}

.perdeu {
  display: inline-block;
  color: #667;
  padding: 0.5rem 0;
  line-height: 1;
}

/*After foi criado um "separador" no estilo HR com 2px de altura e 100% da largura do componente*/
.perdeu::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: currentColor; /*Cria a mesma cor que foi definido anteriormente em .perdeu*/
  display: block;
}

.cadastro {
  margin-top: 4rem;
}

.cadastro p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.subtitle {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2rem;
}

.subtitle::after {
  content: '';
  display: block;
  background: #ddd;
  height: 0.5rem;
  width: 3rem;
  border-radius: 0.2rem;
}
